
<div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          <b>Ajouter un nouveau Modele</b>
        </header>
        <div class="panel-body">
          <div class="form">
            <form class="form-validate form-horizontal" id="feedback_form" method="get" action="" #form="ngForm" (submit)="onSubmit(form)">
              <input type="hidden" name="ModeleID" #ModeleID="ngModel" [(ngModel)]="service.formData.ModeleID">
             <div class="form-group " >
                <label for="cname" class="control-label col-lg-2">Libelle </label>
                <div class="col-lg-10">
                  <input class="form-control" id="cname" type="text" required name="LibelleModele" #LibelleModele="ngModel" [(ngModel)]="service.formData.LibelleModele"/>
                  
                </div>
             </div>



           <div class="form-group mb-3 ">
            <label for="cname" class="control-label col-lg-2">Marque</label>
            <div class="col-lg-10">
            <select   name="idmarque" class="form-control" [(ngModel)]="service.formData.idmarque"  #idmarque="ngModel"  >
              <option name="idmarque" class="form-control" *ngFor="let marq of marquesLists " [value]="marq.MarqueID">{{marq.LibelleMarque}}</option>
            </select>
            </div>
            
</div>


<div class="form-group mb-3 ">
  <label for="cname" class="control-label col-lg-2">Type</label>
  <div class="col-lg-10">
  <select   name="idmarque" class="form-control" [(ngModel)]="service.formData.idmarque"  #idmarque="ngModel"  >
    <option name="idmarque" class="form-control" *ngFor="let marq of lists " [value]="marq.MarqueID">{{marq.Libelle}}</option>
  </select>
  </div>
  
</div>
             


              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
                  
                </div>
              </div>
            </form>
          </div>

        </div>
      </section>
    </div>
</div>