
<div class="row">
                <div class="col-lg-12">
                  <section class="panel">
                    <header class="panel-heading">
                      <b>Ajouter un nouveau entretien</b>
                    </header>
                    <div class="panel-body">
                      <div class="form">
                        <form class="form-validate form-horizontal" id="feedback_form" method="get" action="" #form="ngForm" (submit)="onSubmit(form)">
                          <input type="hidden" name="EntreID" #EntreID="ngModel" [(ngModel)]="service.formData.EntreID">
                         <div class="form-group " >
                            <label for="cname" class="control-label col-lg-2">Libelle </label>
                            <div class="col-lg-10">
                              <input class="form-control" id="cname" type="text" required name="Libelle" #Libelleb="ngModel" [(ngModel)]="service.formData.Libelle"/>
                              
                            </div>
                         </div>


                         


                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
                              
                            </div>
                          </div>
                        </form>
                      </div>
      
                    </div>
                  </section>
                </div>
</div>
<!-- 

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <input type="hidden" name="EntreID" #EntreID="ngModel" [(ngModel)]="service.formData.EntreID" >
        <div class="form-group">
                <label>LIBELLE</label>
                <input type="text" name="Libelle" #Libelle="ngModel" [(ngModel)]="service.formData.Libelle" class="form-control"  required>
                <div class="validation-error" *ngIf="Libelle.invalid && Libelle.touched">
                        This field is required.
                </div>
        </div>
        <div class="form-group">
                <button type="submit" [disabled]="form.invalid"  class="btn btn-lg btn-block" >SUBMIT</button>
        </div>
</form>-->