
 <section id="main-content">
         
    <section class="wrapper">
            
      <!--overview start-->
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-laptop"></i> Gestion  des  Modeles</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="fa fa-laptop"></i>Dashboard</li>
            <li><i class="fa fa-laptop"></i>Gestion  du  Modeles</li>

          </ol>
        </div>
      </div>
      

      <!-- project team & activity end -->

    </section>
    
  </section>
<div class="jumbtron">
    
<h1 class="display-4 text-center">Modele Register</h1>
<hr>

<div class="row">
<div class="col-md-5">
        <app-modele></app-modele>
</div>
<div class="col-md-7">
        <app-modele-list></app-modele-list>
</div>
</div>
</div>