
      
      
      <br><br><br><br>
      <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box red-bg">
               
               <h2> <a routerLink="utilisateurs" class="icon-edit" color=#000080>Ajouter un Utilisateur</a>
                <br><br>
                  <a routerLink="listutilisateurs" class="icon-eye-open" color=#000080>Afficher les Utilisateurs</a></h2>
                  
               
                <div class="count">6.674</div>
              <h1>Utilisateurs</h1>
              </div>
              <!--/.info-box-->
            </div>
            <!--/.col-->
  
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box brown-bg">
                <h2> <a routerLink="fournisseurs" class="icon-edit" color=#000080>Ajouter un Fournisseur</a>
                  <br><br>
                    <a routerLink="listfournisseurs" class="icon-eye-open" color=#000080>Afficher les Fournisseurs</a></h2>
                    
                 
                  <div class="count">6.674</div>
                <h1>Fournisseurs</h1>
              </div>
              <!--/.info-box-->
            </div>
            <!--/.col-->
  
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box yellow-bg">
                <h2> <div class="icon-edit" >
                 
                    <a routerLink="directions" class="icon-eye-open" >Gestion des Directions</a></div></h2>
                    
                 
                  <div class="count">6.674</div><br>
                <h1>Directions</h1><br>
              </div>
              <!--/.info-box-->
            </div>
            <!--/.col-->
  
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box green-bg">
                <h2> <div class="icon-edit" >
                 
                  <a routerLink="bureaux" class="icon-eye-open" >Gestion des Bureaux</a></div></h2>
                  
               
                <div class="count">6.674</div><br>
              <h1>Bureaux</h1><br>
              </div>
              <!--/.info-box-->
            </div>
            <!--/.col-->
  

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box lime-bg">
                <h2> <div class="icon-edit" >
                 
                  <a routerLink="entres" class="icon-eye-open" >Gestion des Entretiens</a></div></h2>
                  
               
                <div class="count">6.674</div><br>
              <h1>Entretiens</h1><br>
              </div>
              <!--/.info-box-->
            </div>


            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box orange-bg">
                <h2> <div class="icon-edit" >
                 
                  <a routerLink="types" class="icon-eye-open" >Gestion des Types</a></div></h2>
                  
               
                <div class="count">6.674</div><br>
              <h1>Types</h1><br>
              </div>
              <!--/.info-box-->
            </div>



            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box purple-bg">
                <h2> <div class="icon-edit" >
                 
                  <a routerLink="marques" class="icon-eye-open" >Gestion des Marques</a></div></h2>
                  
               
                <div class="count">6.674</div><br>
              <h1>Marques</h1><br>
              </div>
              <!--/.info-box-->
            </div>
            <!--/.col-->
  
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="info-box pink-bg">
                <h2> <div class="icon-edit" >
                 
                  <a routerLink="modeles" class="icon-eye-open" >Gestion des Modeles</a></div></h2>
                  
               
                <div class="count">6.674</div><br>
              <h1>Modeles</h1><br>
              </div>
              <!--/.info-box-->
            </div>
          </div>
          <!--/.row-->
  
  
          <div class="row">
            <div class="col-lg-9 col-md-25">
  
              
              <div class="span8">
                <div class="widget-box">
                  

                  <div class="widget-body">
                    <div class="widget-main">
                      <div id="piechart-placeholder"></div>

                      <div class="hr hr8 hr-double"></div>

                     
                    </div><!--/widget-main-->
                  </div><!--/widget-body-->
                </div><!--/widget-box-->
              </div>
              


              
            </div>
            <!--
            <div class="span2">
              <div class="progress" data-percent="66%">
                <div class="bar" style="width:66%;"></div>
              </div>

              <div class="progress progress-success progress-striped" data-percent="25%">
                <div class="bar" style="width: 25%;"></div>
              </div>

              <div class="progress progress-warning progress-small progress-striped active">
                <div class="bar" style="width: 40%;"></div>
              </div>

              <div class="progress progress-mini progress-danger">
                <div class="bar" style="width: 35%;"></div>
              </div>

              <div class="progress">
                <div class="bar bar-success" style="width: 35%;"></div>

                <div class="bar bar-warning" style="width: 20%;"></div>

                <div class="bar bar-danger" style="width: 10%;"></div>
              </div>

              <div class="progress progress-purple progress-striped">
                <div class="bar" style="width: 65%"></div>
              </div>

              <div class="progress progress-pink progress-striped">
                <div class="bar" style="width: 40%"></div>
              </div>

              <div class="progress progress-yellow progress-striped active">
                <div class="bar" style="width: 60%"></div>
              </div>

              <div class="progress progress-inverse progress-striped">
                <div class="bar" style="width: 80%"></div>
              </div>
            </div>
          -->
  
          </div>
<br><br>
         <h1> <a href="http://www.poste.tn/postes.php">Plus Des Informations</a></h1>
  
  
          <!-- Today status end -->
  
  
  
         